.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
.container header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 4px solid var(--header-outline);
  margin-top: 4rem;
  margin-left: 15rem;
  margin-right: 15rem;
  border-radius: 10px;
  padding: 0.68rem;
}

.container header img{
  height: 4rem;
}

.container p{
  color: white;
}

.scoreContainer{
  background-color: white;
  width: 6.5rem;
  height: 4.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.scoreContainer p{
  font-size: 0.85rem;
  color:var(--score-text);
}

.scoreContainer span{
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-text);
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.pickContainer{
  background: url('/bg-triangle.svg') center no-repeat;
  background-size: 80%;
  display: grid;
  justify-content: center;
  gap: 2.5rem;
  grid-template-areas: 
    "paper scissors"
     "rock rock"  
  ;
}

.gamingWrapper{
  flex: 1;
}

.gamingContainer{
  display: flex;
  padding-left: 17.5rem;
  padding-right: 10.5rem;
  padding-bottom: 10.5rem;
  padding-top: 5rem;
  align-items: center;
  grid-template-areas: 
  "playerChoice computerChoice"
    "result result"
  ;
}

.playerChoiceContainer{
  grid-area: playerChoice;
  padding-right: 5rem;
}

.resultContainer{
  grid-area: result;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultContainer p{
  font-weight: 700;
  font-size: 2.56rem;
  color: white;
}

.resultContainer button{
  height: 2rem;
  width: 10rem;
  border-radius: 5px;
  border: none;
  margin-top: 1.65rem;
  font-size: 0.75rem;
  font-weight: 600;
  color:var(--score-text);
}

.playerChoiceContainer,.computerChoiceContainer{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.playerChoiceContainer button{
  margin-right: 0;
}

.computerChoiceContainer button{
  margin-right: 0;
}
.computerChoiceContainer{
  grid-area: computerChoice;
  padding-left: 5rem;
}
.computerChoiceContainer span{
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 50%;
  background-color: var(--dark-text);
} 
.computerChoiceContainer p{
  color: white;
}

.container footer{
  display: flex;
  justify-content: right;
  padding: 3.5rem;
  float: left;
}

.rulesButton{
  border: 0.5px solid white;
  background: transparent;
  height: 2.1rem;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 3.5%;
  padding-right: 3.5%;
  border-radius: 5px;
  font-size: 10px;
}

@media(min-width: 1366px){
  .container{
    align-items: center;
  }
  .container header{
    width: 43.56rem;
  }
  .container img{
    height: 5.6rem;
  }

  .scoreContainer{
    width: 10rem;
    height: 7rem;
  }
  .scoreContainer p{
    font-size: 1rem;
  }

  .scoreContainer span{
    font-size: 3.25rem;
  }

  .container main{
    align-items: flex-start;
  }
  .pickContainer{
    gap:3.5rem;
  }

  .gamingContainer{
    align-items: center;
    gap: 3rem;
    grid-template-areas: 
    "playerChoice result houseChoice"
    ;
  }

  .resultContainer{
    margin: 0;
  }

  .playerChoiceContainer,
  .houseChoiceContainer
  {
    margin: 0;
    flex-direction: column-reverse;
  }

  .container footer{
    position: absolute;
    bottom: 0;
    justify-content: flex-end;
    width: 100%;
  }
}